.charts-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 30px 0;
  text-align: center;

  .charts-sz {
    color: #000;
    font-weight: 700;
  }
  .charts-chart {
    color: #a3a3a3;
    font-weight: 300;
  }
  p {
    color: $dark-grey;
    font-size: 18px;
    margin: 10px 0;
  }
  .charts-cta-contain {
    display: flex;
  }
  a {
    margin: 0 10px;
  }
}