.footer-wrapper {
  align-items: center;
  background: $dark-grey;
  color: #fff;
  display: flex;
  height: 400px;
  justify-content: center;

  @media(min-width: $desktop-breakpoint) {
    height: 500px;
    justify-content: unset;
  }

  .logo {
    height: 30px;

    @media(min-width: $desktop-breakpoint) {
      height: 45px;
    }
  }

  img {
    height: 45px;
  }

  .footer-logos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    @media(min-width: $desktop-breakpoint) {
      align-items: flex-start;
      font-size: unset;
      margin-right: 100px;
      width: 40%;
    }

    p {
      font-size: 10px;
      @media(min-width: $desktop-breakpoint) {
        font-size: 12px;

      }
    }
  }

  .footer-stores {
    display: flex;
    margin: 75px 0px;

    @media(min-width: $desktop-breakpoint) {
      // display: unset;
      
      margin: 50px 0px;
    }

    img {
      margin: 0 10px;
      

      @media(min-width: $desktop-breakpoint) {
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }

  .links-wrapper {
    align-items: flex-start;
    display: none;
    justify-content: space-between;
    width: 60%;

    @media(min-width: $desktop-breakpoint) {
      display: flex;
    }
  }

  .column li {
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0;

    span {
      color: #a3a3a3;
      text-transform: uppercase;
    }
  }
}