.sign-up-wrapper {
  background: url('../images/sign-up.png');
  background-size: cover;
  background-position: -200px 0;
  height: 375px;
  margin-top: 100px;
  margin-bottom: 100px;

  @media(min-width: $tablet-breakpoint) {
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 150px;
  }

  @media(min-width: $desktop-breakpoint) {
    background-position: unset;
    border-radius: 8px;
    height: 500px;
    margin: 200px $l-size;
    margin-top: 200px;
  }

  .sign-up-content {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 375px;
    justify-content: center;
    
    

    @media(min-width: $desktop-breakpoint) {
      align-items: flex-start;
      height: 500px;
      padding: $m-size;
      width: 35%;
    }
  }

  span {
    font-weight: 700;
  }

  h1 {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;

    @media(min-width: $desktop-breakpoint) {
      font-size: 34px;
      margin-bottom: $s-size;
      text-align: unset;
      width: unset;
    }
  }
}