// Color
$dark-grey: #14191c;


// Space
$l-size: 120px;
$m-size: 60px;
$s-size: 30px;

// Font
@font-face {
  font-family: 'Gotham';
  src: url('../assets/GothamBook.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/GothamBold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/GothamLight.woff2');
  font-weight: 300;
}

$font-xl: 34px;
$font-lg: 19px;
$font-md: 14px;
$font-sm: 12px;
$font-xs: 10px;

$gotham: 'Gotham', helvetica, sans-serif;

// Responsiveness

$desktop-breakpoint: 1024px;
$tablet-breakpoint: 650px;